@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 0;

    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .clg-container {
    max-width: 500px;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
  }

  .clg-title {
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: #DEB992 1px solid;
    flex-direction: column;
    width: 100%;
  }
  
  .clg-title h1 {
    color: #DEB992;
    font-size: 1.1rem;
    font-weight: 200;
    text-align: center;
  }

  .container-gallerie {
    width: 500px;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;
  }

  .mySlides-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: red 1px solid; */
    padding: 10px;
    background-color: aliceblue;
}
  
  /* Hide the images by default */
  .mySlides {
    display: none;

    height: 300px;
  }

  .mySlides img {
    height: 100%;
    width: 100%;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 170px;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #001f33;
    background-color: #E1F2F7;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;

    z-index: 2;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 0 3px 3px 0;
  }

  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    background-color: #001f33;
    color: #E1F2F7;
    
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    color: white;
    width: 100%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    margin: 10px;
}
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.row img {
  width: 80px;
}

/* LIENS Avant la gallerie*/

.clg-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.clg-nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;

  font-size: 0.9rem;
}

.clg-nav a {
  display: flex;
  justify-content: center;
  align-items: center;

  /* width: 160px; */

  text-decoration: none;
  color: #001f33;
  background-color: #E1F2F7;
  cursor: pointer;
  border-radius: 10px;
  padding: 0px 5px;

}

.clg-nav a:hover {
  background-color: #001f33;
  color: #E1F2F7;
}

.clg-nav-btn i {
  padding: 0px 5px;
}

/* ************************************************************************************************************************************ */
/* ***** 1024px - 770px DEBUT Tablette L***** */
@media (max-width: 1024px) and (min-width: 770px) {
  .clg-nav p {
    display: none;
  }

  .clg-nav .clg-nav-btn {
    margin: 0px 50px;  
  }
    

  .clg-nav a {
    width: 50px;
    height: 50px;
  }

}
/* ***** 1024px - 770px FIN Tablette L***** */

/* ***** 769px - 427px DEBUT Tablette S***** */
@media (max-width: 769px) and (min-width: 427px) {
  .clg-nav p {
    display: none;
  }

  .clg-nav .clg-nav-btn {
    margin: 0px 50px;  
  }
    

  .clg-nav a {
    width: 50px;
    height: 50px;
  }

  .row {
    display: none;
  }
}
/* ***** 769px - 427px FIN Tablette S***** */

/* ***** 426px - 377px DEBUT Mobile-L ***** */
@media (max-width: 426px) and (min-width: 377px) {
  .clg-nav p {
    display: none;
  }

  .clg-nav .clg-nav-btn {
    margin: 0px 50px;  
  }
    

  .clg-nav a {
    width: 50px;
    height: 50px;
  }

  .row {
    display: none;
  }
}
/* ***** 426px - 377px FIN Mobile-L ***** */

/* ***** 376px - 321px DEBUT Mobile-M ***** */
@media (max-width: 376px) and (min-width: 321px) {
  .clg-nav p {
    display: none;
  }

  .clg-nav .clg-nav-btn {
    margin: 0px 50px;  
  }
    

  .clg-nav a {
    width: 50px;
    height: 50px;
  }

  .row {
    display: none;
  }
}
/* ***** 375px - 321px FIN Mobile-M ***** */

/* ***** 320px DEBUT Mobile-S ***** */
@media (max-width: 321px) {
  .clg-nav p {
    display: none;
  }

  .clg-nav .clg-nav-btn {
    margin: 0px 50px;  
  }
    

  .clg-nav a {
    width: 50px;
    height: 50px;
  }

  .row {
    display: none;
  }
}
/* ***** 320px FIN ***** */

/* ************************************************************************************************************************************ */









































@media (max-width: 728px)  {
  /* .container-gallerie {
    width: 400px;
} */

.row {
  display: none;
}
}

@media (max-width: 425px)  {
  /* .container-gallerie {
    width: 300px;
} */

.row {
  display: none;
}
}