* {
  box-sizing: border-box;
}

body {
    font-family: Arial;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 0;

    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    max-width: 500px;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
  }

  .container-gallerie {
    width: 500px;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;
  }

  .mySlides-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: red 1px solid;
    padding: 10px;
    background-color: aliceblue;
}
  
  /* Hide the images by default */
  .mySlides {
    display: none;

    height: 300px;
  }

  .mySlides img {
    height: 100%;
    width: 100%;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;

    z-index: 2;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 0 3px 3px 0;
  }

  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    color: white;
    width: 100%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    margin: 10px;
}
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.row img {
  width: 80px;
}

@media (max-width: 768px)  {
  .container-gallerie {
    width: 350px;
}

.row {
  display: none;
}
}